---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

type Props = CollectionEntry<'gdr'>['data'];

const { 
	livelloBibliografico,
	tipoDiDocumento,
	titolo, 
	autorePrincipale, 
	pubblicazione, 
	descrizioneFisica, 
	titoloDiOpera, 
	soggetti,
	sistemaDiGioco,
	ambientazione, 
	giocoAdattoA, 
	gradoDiPreparazione, 
	master, 
	numeroDiGiocatoriMAX, 
	numeroDiGiocatoriMIN,
	etaConsigliata,
	linguaDiPubblicazione,
	linguaOperaOriginale,
	paeseDiPubblicazione,
	codiceIdentificativo
} = Astro.props;

const description : string =  `scheda di ${titolo}`;
---

<html lang="en">
	<head>
		<BaseHead title={titolo} description={description} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding : 0.5em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body class="min-h-screen flex flex-col ">
		<Header />
		<main>
			<article>
				<div class="prose">
					<div class="title capitalize">
						<h1>{titolo}</h1>
						<hr />
					</div>
					<div class="text-base grid grid-cols-2 gap-x-2 justify-center">
						<p><b>Livello Bibliografico</b>: {livelloBibliografico}</p>
						<p><b>Tipo di Documento</b>: {tipoDiDocumento}</p>
						<p><b>Autore Principale</b>: {autorePrincipale}</p>
						<p><b>Titolo</b>: {titolo}</p>
						<p><b>Pubblicazione</b>: {pubblicazione}</p>
						<p><b>Descrizione Fisica</b>: {descrizioneFisica}</p>
						<p><b>Titolo di Opera</b>: {titoloDiOpera}</p>
						<p><b>Soggetti</b>: {soggetti}</p>
						<p><b>Sistema di Gioco</b>: {sistemaDiGioco}</p>
						<p><b>Ambientazione</b>: {ambientazione }</p>
						<p><b>Gioco adatto a</b>: {giocoAdattoA}</p>
						<p><b>Grado di Preparazione</b>: {gradoDiPreparazione}</p>
						<p><b>Master</b>: {master ? 'Sì' : 'No'}</p>
						<p><b>Numero di Giocatori</b>: da {numeroDiGiocatoriMIN} a {numeroDiGiocatoriMAX}</p>
						<p><b>Età Consigliata</b>: {etaConsigliata}</p>
						<p><b>Lingua di Pubblicazione</b>: {linguaDiPubblicazione}</p>
						<p><b>Paese di Pubblicazione</b>: {paeseDiPubblicazione}</p>
						<p><b>Lingua Opera Originale</b>: {linguaOperaOriginale}</p>
						<p><b>Codice Identificativo</b>: {codiceIdentificativo}</p>
						<hr />
					</div>
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
