---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';


const gdr = await getCollection('gdr');
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
			}
		</style>
	</head>
	<body class="min-h-screen flex flex-col">
		<Header />
		<main>
			<section>
				<ul class="flex flex-col flex-col-2 ">
					{
						gdr.map((post) => (
						<a class="no-underline" href={`/gdr/${post.slug}/`}>
							<li class="block w-full text-base font-medium mt-2 p-4 border rounded-lg border-gray-300 hover:bg-blue-700 hover:text-white">	
									<p><b>Titolo</b>: {post.data.titolo}</p>
                                    <p><b>Autore</b>: {post.data.autorePrincipale}</p>
                                    <p><b>Codice Identificativo</b>: {post.data.codiceIdentificativo}</p>
							</li>
						</a>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
